section.download {
    position: relative;
    padding: 0 0;
}

section.download h2 {
    font-size: 50px;
    margin-top: 0;
}

section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
    margin-bottom: 0;
}

section.download .badges .badge-link img {
    height: 60px;
}

@media (min-width: 768px) {
    section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    section.download h2 {
        font-size: 50px;
        font-weight: 200
    }
}