@mixin transition($args: all 0.3s ease 0s) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}



@mixin placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin gradient($deg, $args1, $args2) {
    background: -webkit-linear-gradient($deg, $args1, $args2);
    background: -moz-linear-gradient($deg, $args1, $args2);
    background: -o-linear-gradient($deg, $args1, $args2);
    background: -ms-linear-gradient($deg, $args1, $args2);
    background: linear-gradient($deg, $args1, $args2);
}

/* Medium Layout: 1280px */
@mixin medium {
    @media (min-width: 992px) and (max-width: 1400px) {
        @content;
    }
}

/* Tablet Layout: 768px */
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

/* Mobile Layout: 320px */
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

/* Wide Mobile Layout: 480px */
@mixin wide-mobile {
    @media (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}

@mixin cmq ($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}