section.features .section-heading {
    margin-bottom: 100px;
}

section.features .section-heading h2 {
    margin-top: 0;
}

section.features .section-heading p {
    margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
    max-width: 325px;
    margin: 0 auto;
}

section.features .device-container {
    margin-bottom: 100px;
}



@media (min-width: 992px) {
    section.features .device-container {
        margin-bottom: 0;
    }
}

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

section.features .feature-item h3 {
    font-size: 30px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-gradient(linear,
        right top,
        left top,
        from(#7b4397),
        to(#dc2430));
    background: linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}